ion-content {
    --background: linear-gradient(180deg, rgba(3, 0, 4, 0.00) 0%, rgba(3, 0, 4, 0.58) 46%), #701088;
    --backdrop-filter: blur(2px);
    --margin: 0%;
    --line-height: normal;
}
.nombre_user{
    --position: absolute;
    --top: 0px;
    --left: 0px;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --border-radius: 13px;
    --background-color: #fafafa;
    --border: 1px #000;
    --box-sizing: border-box;
    --width: 285px;
    --height: 64px;
}
form .custom-item{
    margin:15px;
}

ion-button{
    --background: #701088;
    --color: white;
    --border-radius: 5px;
    --box-shadow: 0 0 10px 0 #701088;
    --padding-end: 20px;
    --padding-start: 20px;
    --padding-top: 10px;
    margin:auto;
    width: 200px;
    
    
    
}

ion-item{
    --background: #ffffff;
    --color: rgb(0, 0, 0);
    --box-shadow: 0 0 10px 0 #701088;
    --margin-top: 10px;
    --border-radius: 13px;
}

.nubes{
    --background: url('../../../assets/imagenes/nubes.png') no-repeat;
    --background-size: cover;
    --background-position: center;
    --height: 142px;
    --width: 141px;
    --position: absolute;
    --top: 176px;
    --left: 173px;
    --object-fit: cover;

}
.avion{
    --background: url('../../../assets/imagenes/avion.png');
    --height: 100vh;
    --width: 100%;
    --position: relative;
    --overflow: hidden;
    --o-object-fit: cover;
    --background-size: 100% auto; 
}


.texto{
    --font-family: 'Berkshire Swash', sans-serif;
    --font-size: 20px;
    --font-weight: 700;
    --color: #ffffff;
    --text-align: center;
    --margin-top: 10px;
    --margin-bottom: 10px;
}
.prueba {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoCentrado{
    --text-align: center;
    --font-family: 'Berkshire Swash', sans-serif;
    --font-size: 20px;
    --font-weight: 700;
    --color: #ffffff;
    --margin-top: 10px;
    --margin-bottom: 10px;
}

@keyframes slideRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(200%);
    }
  }
  
.slider-container {
    overflow: hidden; /* Oculta el texto que está fuera del contenedor */
    width: 100%; /* Ajusta el ancho según tus necesidades */
  }
.slider {
    display: inline-block;
    white-space: nowrap;
    animation: slideRight 7s linear infinite;
    font-size: 1.5rem; /* Tamaño de fuente ajustable */
    color: #000; /* Color de texto ajustable */
    overflow: hidden; /* Oculta el texto que se encuentra fuera del contenedor */
  }
  